@use "themeprovider/themeprovider" as theme;

.another-video-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4em;

  button {
    background: theme.$light-gray-color;
    color: theme.$white-color;
    font-family: var(--poppins-font);
    font-size: 1.1rem;
    width: min(30em, 85%);
    padding: 0.75em 1em;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background 0.15s ease-in-out;

    &:hover {
      background: theme.$lighter-gray-color;
    }
  }
}

.processing-format-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5em 1.25em 0em 1.25em;
  line-height: 2.1em;

  p {
    color: theme.$white-color;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
  }

  .chosen-format-text {
    margin-top: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;

    .format {
      background: theme.$dark-blue-color;
      padding: 0.2em 0.6em;
      border-radius: 7px;
    }
  }
}

.progress-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3em;

  .progress-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(25em, 85%);

    p {
      color: theme.$white-color;
      font-size: 1.3rem;
      font-weight: 600;
      text-align: center;
      margin-top: 0.8em;
    }
  }
}

.download-ready-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2em;
  margin: 2.7em 1.25em 0em 1.25em;

  p {
    color: theme.$white-color;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
  }

  a {
    text-decoration: none;
    background: theme.$green-color;
    color: theme.$white-color;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.7em 1em;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    transition: background 0.15s ease-in-out;

    &:hover {
      background: theme.$lighter-green-color;
    }
  }
}
