$white-color: #ececec;
$black-color: #212129;
$light-black-color: #323949;
$light-gray-color: #4c5265;
$lighter-gray-color: #636a83;
$slightly-dark-gray-color: #666666;
$dark-gray-color: #3b3b3b;
$dark-blue-color: #1c5d8e;
$light-blue-color: #2a8bd5;
$lighter-blue-color: #55a3dd;
$green-color: #74aa9c;
$lighter-green-color: #93bdb2;
$red-color: #e60000;
$lighter-red-color: #ff1a1a;
